body {
  font-family: arial;
}

.container {
  width:1100px;
  margin-left:auto;
  margin-right:auto;
}

.row {
  overflow:hidden;
}

.col-2 {
  border:white 1px solid;
  float:left;
  box-sizing:border-box;
}

.col-2 {
  width:16.6666666667%;
  padding: 15px;
  text-align: center;
  background: black;
  color: white;
}

.col-4, .col-8 {
  border:black 1px solid;
  float:left;
  box-sizing: border-box;
}

.col-4 {
  width: 33.333333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

h1, h2 {
  display: inline-block;
}

h1 {
  margin-right: 5px;
  color: rgb(203, 66, 35);
}

h2 {
  margin-left: 5px;
  color: rgba(58, 75, 52, 0.56);
  font-size: 20px;
}

#date {
  color: gray;
  display: block;
  margin-bottom:0;
}

#on-street {
  color: black;
  margin-top:0;
}

#about {
  color: gray;
}

.image1 {
  width: 600px;
}

.continues {
  float: right;
  font-size: 2em;
  color: red;
}

.dividing-line {
  border: rgb(173, 182, 182) 1px solid;
  margin: 60px 0 60px 0;
}
